# web Fremework and API
fastapi
uvicorn[standard]
requests

# Data processing
pandas
numpy
scipy

# Database
sqlalchemy

# Data Models and Validation
pydantic
pydantic_settings

# Logging
structlog

# Market Data APIs
yfinance
alpha-vantage
